/******************************** BASIC *******************/
body, p {
  margin: 0;
}

#site {
  background-color: #dee9f7;
  font-family: "Cutive Mono", serif;
  font-style: normal;
}

div {
  display: block;
}

.flex {
  width: 100%;
  display: block;
}
.flex-2 {
  width: 99%;
  display: block;
}
.flex-3 {
  width: 99.5%;
  display: block;
}
.thumbnail-1 {
  width: 300px;
  display: block;
  vertical-align: middle;
}
.valign {
  vertical-align: middle;
}


p {
  margin: 0;
  line-height: 1.3em;
  color: #323232;
}

.blu a {
      font-color: #001861;
}
.mini {
  font-size: .60rem;
}

.small-1 {
  font-size: 1rem;
}

.small-2 {
  font-size: .75rem;
}

.small-3 {
  font-size: .65rem;
}

.small {
  font-size: 1.3rem;
}

.uppercase {
  text-transform: uppercase;
}

.colour-two {
  color: #484848;
}

.colour-three {
  color: #10190e;
}



/******************************** SPACING *******************/

.margin0 {
  margin: 0;
}

.pad0 {
  padding: 0;
}

.space-after-1-2 {
  margin-bottom: .65rem;
}

.space-after-small {
  margin-bottom: .14rem;
}

.space-after {
  margin-bottom: 1.3rem;
}

.space-after2x {
  margin-bottom: 2.6rem;
}

.space-after3x {
  margin-bottom: 3.9rem;
}

.space-after4x {
  margin-bottom: 5.2rem;
}

.space-after5x {
  margin-bottom: 6.5rem;
}

.space-after6x {
  margin-bottom: 7.8rem;
}

.space-after9x {
  margin-bottom: 11.7rem;
}

.pad-l-1-2 {
  padding-left: 0.65rem;
}

.pad-l {
  padding-left: 1.3rem;
}

.pad-l2x {
  padding-left: 2.6rem;
}

.pad-l3x {
  padding-left: 3.9rem;
}

.pad-r-small {
  padding-right: 0.20rem;
}

.space-after-small {
  margin-bottom: 0.20rem;
}

.pad-r-1-2 {
  padding-right: 0.65rem;
}

.pad-r {
  padding-right: 1.3rem;
}

.pad-r2x {
  padding-right: 2.6rem;
}

.space-top-small {
  margin-top: .14rem;
}

.space-top-small2 {
  margin-top: .34rem;
}

.space-top-small {
  margin-top: .14rem;
}

.space-top {
  margin-top: 1.3rem;
}

.space-top2x {
  margin-top: 2.6rem;
}

.space-top3x {
  margin-top: 3.9rem;
}

.space-top6x {
  margin-top: 7.8rem;
}

.space-top9x {
  margin-top: 11.7rem;
}

.island {
  margin: 1.3rem;
}

.island2x {
  margin: 2.6rem;
}

.island3x {
  margin: 3.9rem;
}

.island6x {
  margin: 7.8rem;
}

.island9x {
  margin: 11.7rem;
}


/******************************** NAVIGATION *******************/
#header-navigation {
  position: fixed;
  top: -40px;
  width: 100vw;
  padding-top: 5rem;
  background-color: #dee9f7;
  z-index: 5000;
  vertical-align: baseline;
  font-size: 0.8rem;
}
#header-navigation h1, #header-navigation h2, p {
  margin: 0;
  float: left;
  padding-left: 7.65%;
  padding-right: 3.65%;
  color: #FF4433;
}
#header-navigation p {
  margin: 0;
  float: left;
  padding-left: 8%;
}



#header-navigation h1 a:link {
  text-decoration: none;
  color: #FF4433;
}
#header-navigation h1 a:visited {
  color: #FF4433;
  text-decoration: none
}
#header-navigation h1 a:hover {
  outline: none;
  color: #FF4433;
  transition: color .5s ease-out;
}
 #header-navigation h1 a:active {
  color:#FF4433;
}
#header-navigation p a:link {
  text-decoration: none;
  color: #0B0B58;
}
#header-navigation p a:visited {
  color: #0B0B58;
  text-decoration: none
}
#header-navigation p a:hover {
  outline: none;
  color: #0B0B58;
  transition: color .5s ease-out;
}
 #header-navigation p a:active {
  color: #0B0B58;
}







.underline {
  border-bottom: 1.75px solid #FF4433;
}
.underline-three {
  border-bottom: 1.75px solid #FF4433;
  color: #FF4433;;
}

.nav p {
  color: #001861;
}


.centre {
  text-align: center;
}
.right {
  text-align: right;
}






/******************************** INDEX *******************/
#index-items {
  padding-top: 9rem;
}
#index-items {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: -1vh;

  min-width: 320px;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;
  z-index: 10;
}


.border {
  border-bottom: 1.75px solid #FF4433;
}
.border-r {
  border-right: 1.75px solid #FF4433;
}
.border-all {
  border: 1.75px solid #FF4433;
}


img {
  width: 100%;
}

/******************************** RESPONSIVE *******************/

@media only screen and (min-width: 20em) {

#body-blog {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
.flex-2 {
  width: 99%;
  display: block;
}

}


@media only screen and (min-width: 50em) {

#work {
    height: 88vh;
    width: 100%;
    max-width: 850vw;
    max-height: 64vw;
    position: relative;
    overflow: hidden;
    float: left;
}


.right {
  float: right;
  padding-left: 3.9rem;
  padding-right: 3.9rem;
  margin-bottom: 0.65rem;
}

.flex-2 {
  width: 99%;
  display: block;
}

}

@media only screen and (min-width: 70em) {

.flex-2 {
  width: 99%;
  display: block;
}


}


